<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-In/Check-Out</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<div class="container mx-auto p-5">
    <h1 class="text-2xl font-bold mb-6 text-center">Check-In/Check-Out</h1>

    <form th:action="@{/timesheet/check-in}" method="post" class="bg-white p-6 rounded shadow-md">
        <div class="mb-4">
            <label for="accountName" class="block text-lg font-medium text-gray-700 mb-2">Account Name</label>
            <input type="text" id="accountName" name="accountName" required class="font-bold text-4xl block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-500 p-2 h-20 text-lg">
        </div>

        <div class="flex justify-between mb-4">
            <button type="submit" name="action" value="checkin" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 flex-1 mr-2">Check In</button>
            <button type="submit" th:formaction="@{/timesheet/check-out}" name="action" value="checkout" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 flex-1 ml-2">Check Out</button>
        </div>

        <a th:href="@{/dashboard}" class="cursor-pointer block text-center text-blue-500 hover:underline">Go to Manage</a>
    </form>

    <div th:if="${message}" class="mt-4 p-4 bg-blue-100 text-blue-700 rounded border border-blue-300">
        <p th:text="${message}"></p>
    </div>
</div>

</body>
</html>