<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
  <nav class="employee-nav flex px-2 bg-[#f8f8f8] justify-between text-slate-700">
    <a href="#!" class="logo hover:bg-slate-300 px-3 py-5">
      <i class="fa-solid fa-users"></i>
      <span>Employee</span>
    </a>
    <div class="action flex *:px-3 *:py-5 text-blue-700 items-center">
      <a href="#!" class="profile hover:bg-slate-300 ">
        Welcome <span sec:authentication="name"></span>
      </a>
      <a th:href="@{/logout}" class="log-out hover:bg-slate-300">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
      </a>
    </div>
  </nav>
</header>
</body>
</html>